<app-categories-overview></app-categories-overview>
<div fxLayoutAlign="center center" class="main-container">
  <div class="flex flex-col w-4/5">
    <div class="flex justify-end">
      <div class="m-6">
        <input (keyup)="applyFilter($event)" placeholder="Search" type="text" id="default-input" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      </div>
    </div>
    <!-- <div fxLayout="column">
      <div fxLayout="row wrap" fxLayoutGap="1% grid">
        <div fxFlex="33.33%" *ngFor="let product of products">
          <app-product-card [product]="product"></app-product-card>
        </div>
      </div>
      <div>
        <mat-paginator [length]="filteredProducts.length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 100]"
          (page)="pageChanged($event)">
        </mat-paginator>
      </div>
    </div> -->
    <div class="flex flex-wrap w-full justify-between">
      <app-product-card *ngFor="let product of products" [product]="product"></app-product-card>
    </div>
  </div>
</div>