<app-categories-overview></app-categories-overview>

<div class="flex justify-center w-full pr-6">
  <div class="flex justify-end w-4/5">
    <button
      [routerLink]="['/product/create']"
      *ngIf="isAdmin()"
      type="button"
      class="bg-blue-700 rounded-lg text-sm text-white dark:bg-blue-600 dark:focus:ring-blue-800 dark:hover:bg-blue-700 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium hover:bg-blue-800 px-5 py-2.5">
      Add Product
    </button>
  </div>
</div>

<div fxLayoutAlign="center center" class="main-container">
  <div class="flex flex-col w-4/5">
    <div class="flex justify-end">
      <div class="m-6 relative">
        <input
          [(ngModel)]="searchText"
          (keyup)="applyFilter($event)"
          placeholder="Search"
          type="text"
          id="default-input"
          class="bg-gray-50 border border-gray-300 p-2.5 rounded-lg text-gray-900 text-sm w-full block dark:bg-gray-700 dark:border-gray-600 dark:focus:border-blue-500 dark:focus:ring-blue-500 dark:placeholder-gray-400 dark:text-white focus:border-blue-500 focus:ring-blue-500">

        <!-- Predictive Dropdown -->
        <ul *ngIf="showSuggestions" class="bg-white border border-gray-300 rounded-lg shadow-lg w-full absolute dark:bg-gray-800 dark:border-gray-600 mt-1 z-10">
          <li
            *ngFor="let suggestion of predictiveResults"
            (click)="selectSuggestion(suggestion)"
            class="cursor-pointer dark:hover:bg-gray-700 hover:bg-gray-100 px-4 py-2">
            {{ suggestion }}
          </li>
        </ul>
      </div>
    </div>

    <div class="flex flex-wrap justify-between w-full">
      <app-product-card *ngFor="let product of pagedProducts" [product]="product"></app-product-card>
    </div>
  </div>
</div>
