<div class="flex flex-wrap lg:justify-center !p-5 !w-full">
  <div class="w-full lg:w-auto flex flex-col lg:flex-row items-stretch lg:items-center">
    <button [matMenuTriggerFor]="menu" *ngFor="let category of categories" (click)="getSubcategoriesByCategory(category.id)" class=" justify-center m-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">{{category.name}} <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
      </svg>
    </button>
  </div>
  
    
  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngFor="let subcategory of subcategories" [routerLink]="['/products', subcategory.id]">
      {{ subcategory.name }}
    </button>
  </mat-menu>
</div>

  

