.main-container {
    height: 70vh;
}

.category-create-card {
    border-radius: 0;
    background-color: white;
    padding: 2%;
    box-shadow: 2px 2px 7px 3px rgb(209, 209, 209);
}

.image-preview img {
    width: 50%;
    height: 50%;
    object-fit: contain;
}