<div class="navbar navbar-expand-lg navbar-light bg-light w-100" *ngIf="this.isUserLoggedIn()">
  <div class="col-2 d-flex justify-content-center cursor-pointer" (click)="onLogoClick()"><h6 class="m-0"><b>TechShop</b></h6></div>
  <div class="col-9"></div>
  <div class="col-1 d-flex justify-content-center">
    <div *ngIf="this.isUserLoggedIn()">
      <button mat-button [matMenuTriggerFor]="menu" class="navbar-button">
        {{ this.getUserFirstName() }}
        {{ this.getUserLastName() }}
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="profile">Profil</button>
        <button mat-menu-item (click)="this.logout()">Deconectare</button>
      </mat-menu>
    </div>
  </div>
</div>
