<div class="navbar navbar-expand-lg navbar-light bg-light w-100" *ngIf="this.isUserLoggedIn()">
  <div class="col-2 d-flex justify-content-center cursor-pointer" (click)="onLogoClick()"><h6 class="m-0"><b>TechShop</b></h6></div>
  <div class="col-8"></div>
  <div class="col-2 flex justify-evenly items-center">
    <button [routerLink]="['/favorite']" class="flex justify-center">
      <span class="material-symbols-outlined">
        favorite
      </span>
    </button>
    <button [routerLink]="['/cart']" class="flex justify-center">
      <span class="material-symbols-outlined">
        shopping_cart
      </span>
    </button>
    <div *ngIf="this.isUserLoggedIn()">
      <button [matMenuTriggerFor]="menu" class="text-gray-900 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-4 py-2.5 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700">
        {{ this.getUserFirstName() }}
        {{ this.getUserLastName() }}
      </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="profile">Profil</button>
          <button mat-menu-item (click)="this.logout()">Deconectare</button>
        </mat-menu>
    </div>
  </div>
</div>
