<div>
    <div class="w-full h-full flex justify-center p-10">
        <div class="w-1/2 p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <form [formGroup]="editProductForm">
                <div class="m-2 !mb-6">
                    <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                    <input formControlName="name" type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Name" required />
                </div>
                <div class="flex flex-row w-full mb-6">
                    <div class="m-2 w-1/2">
                        <div class="relative">
                            <label for="dynamic-select" class="block text-sm font-medium text-gray-700">
                              Categories
                            </label>
                      
                            <select
                              id="dynamic-select"
                              formControlName="category"
                              class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md"
                              (change)="onCategoryChange(this.editProductForm.controls.category.value)"
                            >
                              <option *ngFor="let option of categoriesOptions" [value]="option.id">
                                {{ option.viewValue }}
                              </option>
                            </select>
                          </div>
                    </div>
                    <div class="m-2 w-1/2">
                        <div class="relative">
                            <label for="dynamic-select" class="block text-sm font-medium text-gray-700">
                              Subcategories
                            </label>
                      
                            <select
                            formControlName="subcategory"
                              id="dynamic-select"
                              class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md"
                            >
                              <option *ngFor="let option of subCategoriesOptions" [value]="option.id">
                                {{ option.viewValue }}
                              </option>
                            </select>
                          </div>
                    </div>
                </div>
                <div class="flex flex-row w-full mb-6">
                    <div class="m-2 w-full">
                        <div class="relative">
                            <label for="dynamic-select" class="block text-sm font-medium text-gray-700">
                              Providers
                            </label>
                      
                            <select
                            formControlName="provider"
                              id="dynamic-select"
                              class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md"
                            >
                              <option *ngFor="let option of providersOptions" [value]="option.id">
                                {{ option.viewValue }}
                              </option>
                            </select>
                          </div>
                    </div>
                </div>
                <div class="!mb-6 m-2">
                    <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price</label>
                    <input formControlName="price" type="text" id="price" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Price" required />
                </div>
                <div class="!mb-6 m-2">
                    <label for="price" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                    <input
                      id="editor"
                      contenteditable="true"
                      class="mt-1 p-3 block w-full h-40 border border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm overflow-y-auto"
                      formControlName="description"/>
                </div>
                <div class="!mb-6 m-2">
                  <label for="stock" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Stock</label>
                  <input formControlName="stock" type="text" id="stock" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Stock" required />
              </div>
                <div class="w-full flex justify-center">
                    <div *ngIf="imagePreview" class="image-preview !mb-6 m-2 flex justify-center h-96 w-96">
                        <img [src]="imagePreview" alt="Preview Image" />
                    </div>
                    <input type="file" #fileInput (change)="onFileSelected($event)" hidden>
                </div>
                <div class="!mb-6 m-2 flex justify-end">
                    <button class="mx-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" color="primary" (click)="fileInput.click()">
                        Upload image
                    </button>
                    <button class="mx-2 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" type="submit" color="primary" (click)="submit()">
                        Save
                    </button>
                </div>
            </form> 
        </div>
    </div>    
</div>
