.login-card {
    padding: 3%;
    border-radius: 0;
    background-color: white;
    box-shadow: 2px 2px 7px 3px rgb(209, 209, 209);
  }
  
  .main-container {
    height: 70vh;
  }
  
  .logo {
    height: 50%;
    margin-bottom: 8%;
  }
  