<mat-card class="subcategory-card" [routerLink]="['/products', subcategory.id]">
    <img
      src="https://i.dell.com/is/image/DellContent/content/dam/documents-and-videos/dv2/csbg/en/product-launch/alienware/alienware-pro-wireless-gaming-peripherals/site-banners/keyboard/black/cs2404g0010-680531-gl-cs-co-site-banner-aw-pro-keyboard-800x620-bk-left-transparent.png?fmt=png-alpha&amp;amp;wid=800&amp;amp;hei=620"
      alt="Subcategory Image"
      class="subcategory-image"
    />
    <mat-card-header class="card-header">
      <p class="card-title"> {{ subcategory.name }} </p>
    </mat-card-header>
  </mat-card>
  