<div 
  class="p-6 bg-white rounded-lg shadow m-2"
  [ngClass]="{
    'border-2 border-orange-200': order.orderStatus === 'InProgress',
    'border-4 border-green-200': order.orderStatus === 'Delivered'
  }">
    <div><b>Email:</b> {{order.userEmail}}</div>
    <div><b>First Name:</b> {{order.userLastName}}</div><div>Last Name: {{order.userFirstName}}</div>
    <div><b>Placement Date: </b>{{order.placementDate}}</div>
    <div><b>Address: </b>{{order.address}}</div>
    <div><b>Order Status: </b>{{order.orderStatus}}</div>
    <div><b>Payment Method: </b>{{order.paymentMethod}}</div>
    <div><b>Products:</b></div>
    <div *ngFor="let product of order.products">{{product.name}}</div>
    <button *ngIf="order.orderStatus != 'Delivered'" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" type="submit"
        color="primary" 
        (click)="updateStatus()">
        Set Delivered
    </button>
</div>