<div class="flex items-center justify-end flex-col w-full">
    <div class="flex w-4/5 justify-end">
        <button [routerLink]="['/order']" class="m-5 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Place Order</button>
    </div>
    <div class="flex w-4/5">
        <div class="flex flex-wrap w-full justify-between">
            <app-product-card [isCartCard]='true' *ngFor="let product of preOrder" [product]="product"></app-product-card>
        </div>
    </div>
</div>